:root{
  box-sizing: border-box;
  font-size: 30px;
}

body{
  display: flex;
  height: 100vh;
  background: pink;
  box-shadow:

}

.container{
    height: 406px;
    width: 296px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25px 80px 48px 48px 48px 48px 48px;
    grid-gap: 10px;
    background: grey;
    border-radius: 4%;
  }


div{
  border: 1px solid black;
}

#heading{
  grid-column: span 4;
  text-align: center;
}

#screen{
  background: lightblue;
  grid-column: span 4;
  height: 80px;
}

#equals{
  grid-row: span 2;
  color:blue;
}

#zero{
  grid-column: span 2;
}

.btn,
.ce,
.ac{
background: lightgrey;
text-align: center;
vertical-align: middle;
line-height: 25px;
border-radius: 10%;

}
